
*.ide-wal
.vs/CS_3280_Group_Assignment/v15/Server/sqlite3/storage.ide-shm
.vs/CS_3280_Group_Assignment/v15/.suo
.vs/CS_3280_Group_Assignment/v15/Server/sqlite3/storage.ide
.vs/CS_3280_Group_Assignment/v15/.suo
.vs/CS_3280_Group_Assignment/v15/.suo
.vs/CS_3280_Group_Assignment/v15/Server/sqlite3/storage.ide
*.ide
.vs/CS_3280_Group_Assignment/v15/Server/sqlite3/storage.ide-wal
.vs/CS_3280_Group_Assignment/v15/Server/sqlite3/storage.ide-shm
.vs/CS_3280_Group_Assignment/v15/Server/sqlite3/storage.ide
*.cache
*.lref
*.nlp
*.dll
*.exe
*.exe
*.manifest
*.mdb
*.csproj
*.cache
*.txt
*.cache
.vs/CS_3280_Group_Assignment/v15/.suo
*.ide
*.ide-shm
*.baml
*.cache
*.lref
*.ide-wal
.vs/CS_3280_Group_Assignment/v15/.suo
.vs/CS_3280_Group_Assignment/v15/.suo
.vs/CS_3280_Group_Assignment/v15/Server/sqlite3/storage.ide-shm
CS_3280_Group_Assignment/bin/Debug/CS_3280_Group_Assignment.exe
*.pdb
*.exe
CS_3280_Group_Assignment/obj/Debug/CS_3280_Group_Assignment.pdb
